.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: #a5e3b9;
    padding: 20px;
    /* position: fixed; */
    /* width: 100%; */
}

.cart{
    background-color: yellow;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}